:root {
  --nav-width: 10rem;
  --page-width: 30rem;
  --text-color: #1b1b1b;
  --background-color: #fffff;
  font-size: 125%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background: var(--background-color);
  color: var(--text-color);
}

.wrapper {
  display: flex;
  gap: 3rem;
  padding-inline-start: 2rem;
}

nav {
  width: var(--nav-width);
  padding-block-start: 30vh;
}
nav li {
  padding-block-end: 0.5rem;
}

main {
  width: var(--page-width);
}

:is(main, nav) ul {
  padding-inline: 0;
  list-style: none;
}

nav a {
  color: inherit;
  text-decoration: none;
}
